


/*****The PAGE****************/
body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  padding: 25px;
  border: 10px solid;
  border-radius: 25px;
  margin: 10px auto;
  box-shadow: 5px 5px 15px 10px #000;
  background-image: url("../images/background.gif");
  
}

#maincontainer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav {
  padding: 30px 0 0 0;
  font-size: 1.2em;
}

/*****Headings****************/
h1 {
   
  font-size: 5em;
  font-weight: normal;
  text-shadow: 2px 2px 2px #666;
  color: #9A0000;
}

h2 {
  padding: 50px 0 0 0; 
  font-size: 3em;
  font-weight: normal;
}


/*****IDs****************/
#welcome {
  line-height: 30px;
  font-size: 1.5em;
  font-style: oblique;
}

#down, #up {
font-size: 1em;
font-style: italic;
padding: 0 0 25px 0;
}

#human {
display: inline;
background-image: url("../images/menu.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#dogfood {
display: inline;
background-image: url("../images/dogfood.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#search {
display: inline;
background-image: url("../images/search.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#floats, #sparky {
  background: linear-gradient(#F1FFD1, #E5F9B6);
  padding: 60px;
  margin: 0 300px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
  height: 940px;
}


#find {
  padding:2px;
}

#talk {
  line-height: 3px;
  font-weight: bold;
}

#communicating {
display: inline-block;
}


#email {
display: inline;
background-image: url("../images/email.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#visit {
display: inline;
background-image: url("../images/visit.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#message {
display: inline;
background-image: url("../images/chat.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#call {
display: inline;
background-image: url("../images/talk.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
margin:  20px 0;
}


/*****Food Descriptions****************/
figcaption {
  opacity: .7;
  font-size: 1.5em;
}

.nutrition {
font-weight: bold;
}

/*****Food Images****************/
img {
   padding:1px;
   border:1px solid #000;
   background-color:#6B0000;
}


/*****Links****************/
a {
  text-decoration: none;
}


a:link {
  color: #004C03;
}


a:visited {
  color: #000;
}


a:hover {
  text-decoration: underline;
  color: #E3B000;
}

a:active {
  color: #B80000;
}

#hovertable tr:hover {
  text-decoration: underline;
  color: #e00a2b;
}

/*****Columns****************/


#column1of2 {
width: 42%;
margin: 40px;
float:left;
clear:left;
}

#column2of2 {

text-align: left;
width: 42%;
margin: .0167%;
float:left;
clear:right;
}

.list {
list-style-type: square;
}
/*****Table****************/
table {
border-collapse: collapse;
background-color: #ffffff;
width: 50%;
margin: 120px auto;

}

#hours {
font-weight: bold;
text-align:center;
font-size: 4em;
text-transform: uppercase;
padding: 5px 30px 5px 10px;
border: 1px solid #000; 
}
th {
font-weight: bold;
text-transform: uppercase;
font-size: 1.2em;
text-align: center;
padding: 5px 30px 5px 10px;
border: 1px solid #000;  
}

td {
font-weight: normal;
text-align: center;
padding: 5px 30px 5px 10px; 
border: 1px solid #000; 
}

.tablebg {
background-color: #d6ea90;
}

/*****Form****************/

.title {
float: left;
width: 300px;
clear: left;

}

input:hover {	
background-color: #d0e2f0;
border: 1px solid #999999;     
}

input:focus {
background-color: #d0e2f0;
border: 1px solid #999999;   
}

h3 {
font-size: 2em;
padding: 0 30px;
font-weight: normal;
}

#newsletter {
  background: linear-gradient(#F1FFD1, #E5F9B6);
  padding: 5px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
  width: 510px;
  font-size: 1.2em;
  height: 350px;

}

fieldset {
    border: none;
}
