/*****The PAGE****************/
body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  width: 1200px;
  padding: 25px;
  border: 10px solid;
  border-radius: 25px;
  margin: 10px auto;
  background-color: #F0EFE1; 
}

/*****Headings****************/
h1 {
  font-size: 5em;
  font-weight: normal;
  text-shadow: 2px 2px 2px #666;
  color: #9A0000;
}

h2 {
  padding: 50px;
  font-size: 3em;
  font-weight: normal;
}

/*****IDs****************/

#welcome {
  line-height: 30px;
  font-size: 1.5em;
  font-style: oblique;
}

#menu {
  padding: 45px;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
}

#find {
  padding:2px;
}

#talk {
  font-weight: bold;
}

#navigate {
display: inline;
list-style-type: square;
font-size: 1.2em;
}
 

#sparky {
  padding: 45px;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
}


/*****Food Descriptions****************/
figcaption {
font-size: 1.5em;
}
img {
   padding:1px;
   border:1px solid;
   background-color:#6B0000;
}

/*****Lists****************/
li {
  display: inline-block;
  padding: 10px;
}

ul {
  
  list-style-type: square;
}


/*****Links****************/
a {
  text-decoration: none;
}


a:link {
  color: #004C03;
}


a:visited {
  color: #000;
}


a:hover {
  text-decoration: underline;
  color: #E3B000;
}

a:active {
  color: #B80000;
}