/*****The PAGE****************/
/*body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  padding: 25px;
  border: 10px solid;
  border-radius: 25px;
  margin: 10px auto;
  box-shadow: 5px 5px 15px 10px #000;
  background-image: url("../images/background.gif");*/
}

/*****Headings****************/
h1 {
  font-size: 5em;
  font-weight: normal;
  text-shadow: 2px 2px 2px #666;
  color: #9A0000;
}

h2 {
  padding: 50px;
  font-size: 3em;
  font-weight: normal;
}


/*****IDs****************/

#welcome {
  line-height: 30px;
  font-size: 1.5em;
  font-style: oblique;
}

#human {
display: inline;
background-image: url("../images/menu.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#dogfood {
display: inline;
background-image: url("../images/dogfood.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#search {
display: inline;
background-image: url("../images/search.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#email {
display: inline;
background-image: url("../images/email.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#call {
display: inline;
background-image: url("../images/talk.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#visit {
display: inline;
background-image: url("../images/visit.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#message {
display: inline;
background-image: url("../images/chat.png");
background-repeat: no-repeat;
background-size: 25px 25px;
padding: 0 25px 0 30px; 
}

#communicating {
display: inline-block;
}

#find {
  padding:2px;
}

#talk {
  line-height: 3px;
  font-weight: bold;
}

#menu {
  background: linear-gradient(#F1FFD1, #E5F9B6);
  padding: 45px;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
  height: 1170px;
  
}

#navigate {
  display: inline;
  font-size: 1.2em;
}
 

#sparky {
  background: linear-gradient(#F1FFD1, #E5F9B6);
  padding: 45px;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px 10px #000;
  
}


/*****Food Descriptions****************/
figcaption {
  opacity: .7;
  font-size: 1.5em;
}

/*****Food Images****************/
img {
   padding:1px;
   border:1px solid #000;
   background-color:#6B0000;
}


/*****Links****************/
a {
  text-decoration: none;
}


a:link {
  color: #004C03;
}


a:visited {
  color: #000;
}


a:hover {
  text-decoration: underline;
  color: #E3B000;
}

a:active {
  color: #B80000;
}

/*****Columns****************/


#column1of2 {
float: left;
width: 42%;
margin: .0167%;
clear:left;
}

#column2of2 {
text-align: left;
float: right;
width: 42%;
margin: .0167%;
clear: right;
}


#col1 {
width: 400px;
height: 400px;
margin: 20px;
border: 10px solid;
background-color: #777;
float:left;
clear:left;

}

#col2 {
width: 400px;
height: 400px;
margin: 20px;
border: 10px solid;
background-color: #777;
float:left;
clear:right;
}

